@import './helper.css';
@import './form.css';
@import './card.css';
@import './slider.css';
@import './overlay.css';

.subscribe-section {
    height: 400px;
    background-size: 80%;
    background-position: center bottom -120px;
    background-repeat: no-repeat;
    background-image: url('./../img/sample/indonesia.png');
}