.pagination {
    justify-content: center;
    margin-top: 4rem;
}
.pagination .page-item .page-link {
    color: #2B2C31;
    border: 0;
}
.pagination .page-item.active .page-link {
    color: white;
    background-color: #2B2C31 !important;
    border-color: #2B2C31 !important;
} 